@import 'tailwindcss';

@layer utilities {
	.center {
		@apply flex justify-center items-center;
	}
}

body {
    background-color: #383A3E;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}

.caret-blink {
    animation: blink 1s infinite;
}
